<div class="container my-3">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>wlcome to <span class="font-weight-bold"><i class="fas fa-book"></i>Bookers</span> !!</h1>
      <p>In <span class="font-weight-bold"><i class="fas fa-book"></i>Bookers</span></p>
      <p>you can share and exchange your oponions , inpressions , and emotions</p>
      <p>about various books!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-lg-6 mx-auto">
      <%= link_to "Log in", new_user_session_path, class: "btn btn-sm btn-block btn-info mb-3" %>
      <%= link_to "Sgin up", new_user_registration_path, class: "btn btn-sm btn-block btn-success" %>
    </div>
  </div>
</div>